

/* ############################################################################################### */

html {
    font-family: Arial, Helvetica, sans-serif;
}

.body-room-4 .wrap-room-4 .row p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.body-room-4 .wrap-room-4 .row .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.body-room-4 .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.body-room-4 .container:before,
.body-room-4 .container:after {
    content: " ";
    display: table;
}

.body-room-4 .container:after {
    clear: both;
}

@media (min-width: 768px) {
    .body-room-4 .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .body-room-4 .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .body-room-4 .container {
        width: 1170px;
    }
}

.body-room-4 .wrap-room-4 .row {
    margin-left: -15px;
    margin-right: -15px;
}

.body-room-4 .wrap-room-4 .row:before,
.body-room-4 .wrap-room-4 .row:after {
    content: " ";
    display: table;
}

.body-room-4 .wrap-room-4 .row:after {
    clear: both;
}

.body-room-4 .wrap-room-4 .row .col-sm-5,
.body-room-4 .wrap-room-4 .row .col-md-5,
.body-room-4 .wrap-room-4 .row .col-lg-5,
.body-room-4 .wrap-room-4 .row .col-xs-6,
.body-room-4 .wrap-room-4 .row .col-sm-7,
.col-md-7,
.body-room-4 .wrap-room-4 .row .col-lg-7,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-xs-12,
.col-sm-12,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.body-room-4 .wrap-room-4 .row .col-xs-6,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.body-room-4 .wrap-room-4 .row .col-xs-6 {
    width: 50%;
}

.col-xs-10 {
    width: 83.3333333333%;
}

.col-xs-11 {
    width: 91.6666666667%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-push-6 {
    left: 50%;
}

@media (min-width: 768px) {
    .body-room-4 .wrap-room-4 .row .col-sm-5,
    .body-room-4 .wrap-room-4 .row .col-sm-7,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .body-room-4 .wrap-room-4 .row .col-sm-5 {
        width: 41.6666666667%;
    }
    .body-room-4 .wrap-room-4 .row .col-sm-7 {
        width: 58.3333333333%;
    }
    .col-sm-10 {
        width: 83.3333333333%;
    }
    .col-sm-11 {
        width: 91.6666666667%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-pull-5 {
        right: 41.6666666667%;
    }
    .col-sm-push-7 {
        left: 58.3333333333%;
    }
}

@media (min-width: 992px) {
    .body-room-4 .wrap-room-4 .row .col-md-5,
    .col-md-7,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .body-room-4 .wrap-room-4 .row .col-md-5 {
        width: 41.6666666667%;
    }
    .col-md-7 {
        width: 58.3333333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.3333333333%;
    }
    .col-md-11 {
        width: 91.6666666667%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-pull-5 {
        right: 41.6666666667%;
    }
    .col-md-push-7 {
        left: 58.3333333333%;
    }
}

@media (min-width: 1200px) {
    .col-lg-2,
    .body-room-4 .wrap-room-4 .row .col-lg-5,
    .body-room-4 .wrap-room-4 .row .col-lg-7,
    .col-lg-9,
    .col-lg-10 {
        float: left;
    }
    .col-lg-2 {
        width: 16.6666666667%;
    }
    .body-room-4 .wrap-room-4 .row .col-lg-5 {
        width: 41.6666666667%;
    }
    .body-room-4 .wrap-room-4 .row .col-lg-7 {
        width: 58.3333333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.3333333333%;
    }
    .col-lg-pull-5 {
        right: 41.6666666667%;
    }
    .col-lg-push-7 {
        left: 58.3333333333%;
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*2.4.13 BODY-ROOM */

.body-room-4 {
    padding-top: 50px;
    padding-bottom: 95px;
}

@media (max-width: 767px) {
    .body-room-4 {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

.body-room-4 .wrap-room-4 .wrap-item {
    margin-bottom: 100px;
}

.body-room-4 .wrap-room-4 .wrap-item .img1 {
    position: relative;
    overflow: hidden;
}

.body-room-4 .wrap-room-4 .wrap-item .img1 img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.body-room-4 .wrap-room-4 .wrap-item:hover .img1 {
    overflow: hidden;
}

.body-room-4 .wrap-room-4 .wrap-item:hover .img1 img {
    transform: scale(1.2, 1.2);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.body-room-4 .wrap-room-4 .wrap-item:hover .img:before {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: visible;
}

.body-room-4 .wrap-room-4 .wrap-item .img {
    position: relative;
}

.body-room-4 .wrap-room-4 .wrap-item .img:before {
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    content: '';
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1e1818));
    background: -webkit-linear-gradient(top, transparent, #1e1818);
    background: -moz-linear-gradient(top, transparent, #1e1818);
    background: -ms-linear-gradient(top, transparent, #1e1818);
    background: -o-linear-gradient(top, transparent, #1e1818);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.body-room-4 .wrap-room-4 .wrap-item:last-child {
    margin-bottom: 0px;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4 {
    padding-left: 0px;
    margin-left: -30px;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4.room-right {
    padding-right: 0px;
    margin-right: -30px;
    margin-left: 0px;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text {
    padding: 25px 60px 85px 100px;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text .view-dateails {
    margin-top: 15px;
    width: 119px;
    position: relative;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text h2 {
    font-size: 36px;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text h5 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 33px;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text p {
    color: #898989;
    font-size: 15px;
    font-weight: 400;
}

.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text p b {
    font-weight: 600;
    color: #333;
}




/* CONTAINER */

@media (min-width: 1200px) {
    .container {
        width: 1200px !important;
    }
}


